.imgBox {
  width: 88px;
  height: 118px;
  padding: 2px;
  margin: 4px 2px;
  background: #e0e0e0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
