.wrapper {
  width: 100%;
  height: 87vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  align-items: center;
  width: 100%;
  min-height: 40px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #dcdcdc;
  font-weight: 700;
  flex-shrink: 0;
  padding-right: 48px;
  box-sizing: border-box;
}

.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.votes {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  flex: 1;
}
