@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
.unselected {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  background-color: rgb(251, 228, 232, 0.5);
}

.characters {
  display: flex;
  flex-wrap: wrap;
  max-height: 84vh;
  overflow-y: auto;
}

.beforeSelect {
  width: 100%;
  text-align: center;
  padding: 4px;
  font-size: large;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .unselected {
    max-height: 50vh;
  }
}
